<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Neeharika's Plant Store</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Payment Intents Log</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<!-- Store -->
<div class="container">
  <div class="row">
    <div class="col-lg-6">
        <div class="card" style="width: 24rem;">
            <%= image_tag("fiddle-leaf-fig.jpg", class: "card-img-top") %>
            <div class="card-body">
                <h3 class="card-title">Fiddle Leaf Fig - $12.00</h3>
                <p class="card-text">A great starter plant. Pot included.</p>
                <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                4.0 stars
            </div>
        </div>
    </div>
    <div class="col-lg-6">
      <!-- <input id="card-name" type="text">  -->
      <!-- placeholder for Elements -->
      <!-- <div id="card-element"></div>
      <button id="card-button" >Submit Payment</button> -->
      <div class ="sr-root">
        <div class="sr-main">
          <form id="payment-form" class="sr-payment-form">
            <div class="sr-combo-inputs-row">
              <div id="card-element" class="sr-input sr-card-element" >
                <!-- Elements will create input elements here -->
              </div>
            </div>

            <!-- We'll put the error messages in this element -->
            <div id="card-errors" class="sr-field-error" role="alert"></div>
            <button id="card-button" type="submit">
              <div class="spinner hidden" id="spinner"></div>
              <span id="button-text">Pay</span><span id="order-amount"></span>
            </button>
          </form>
          <div class="sr-result hidden">
            <p>Payment completed<br /></p>
            <pre>
              <code></code>
            </pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>